*{
	font-family:arial;
	color:#69D2E7;
}
#top_border{
	position:absolute;
	top:0;
	left:0;
	background:#bbbaba;
	height:35px;
	width:100%;
	margin:0;
	padding:0;
	z-index:-2;
}
h1,h2,h3,h4{font-family:'Arvo';color:#69D2E7;}
h1{
	position:absolute;	
	top:50px;
	left:50px;
	font-size:40px;
	text-shadow: 0px 2px 1px #bbbaba;
}
#baseline{
	font-size:20px;
	position:absolute;	
	top:120px;
	left:75px;
}
ul.hmenu {
  list-style: none;	
  float:right;
	margin-top:0px;
  padding: 0;
}
ul.hmenu li {
  display: inline;  
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.username a{
	font-weight:bold;
	font-size:20px;
	font-family:'Arvo';
		color:#69D2E7;
	
}
.role{
	font-style:italic;
}
a{
	color:#FA6900;
	text-decoration:none;
}
ul#user_list {
	list-style-type:square;

}
#user_desc {
	font-size:20px;
	font-family:'Arvo';	
}
ul#user_list, #user_desc {
	position:absolute;
	top:150px;
	left:150px;
}
ul#user_list li{
	line-height:25px;
}

form h2{
	margin-bottom:30px;
}

form label{
	font-size:20px;
	font-family:'Arvo';
}
form input[type="text"],form input[type="password"],form input[type="email"] {
	height:25px;
	margin:5px;
	width:400px;
	font-size:20px;
}
form .field label{
	margin-top:10px;
	margin-bottom:20px;	
}


#form{
	margin-bottom:25px;
	margin-top:25px;
	width:400px;
	position: absolute;
	top:100px;
	left:300px;
	font-size:20px;
}
form h3{
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
	background:whiteSmoke;
	border-radius:10px;
	-moz-border-radius:10xp;
	-webkit-border-radius:10px;
	padding:10px 10px 10px 10px ;
	border: solid 1px #CCC;
	border-top: solid 1px #DDD;
	border-left: solid 1px #DDD;
}

form h3:hover{
	
	background:#E4DACE;
	border: solid 1px #504436;
	border-top: solid 1px #9F9782;
	border-left: solid 1px #9F9782;
}

form .field{
	margin-top:20px;
	margin-bottom:20px;
}

input[type="submit"], input[type="button"], input[type="file"]{
	cursor:pointer;
	font-size:20px;
	border:none;
	border-radius:10px;
	-moz-border-radius:10xp;
	-webkit-border-radius:10px;
	padding:10px 10px 10px 10px ;
	background:#E4DACE;
	border: solid 1px #504436;
	border-top: solid 1px #9F9782;
	border-left: solid 1px #9F9782;
	font-family:'Arvo';
	
	
}
select{
	margin:10px;
		font-size:20px;
		background:whiteSmoke;
		border:none;
		border-radius:10px;
		-moz-border-radius:10xp;
		-webkit-border-radius:10px;
		padding:10px 10px 10px 10px ;
		border: solid 1px #CCC;
		border-top: solid 1px #DDD;
		border-left: solid 1px #DDD;	
}
option{
	font-size:20px;
	background:whiteSmoke;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="file"]:hover{
	
	background:whiteSmoke;
	border: solid 1px #CCC;
	border-top: solid 1px #DDD;
	border-left: solid 1px #DDD;
	
}

input[type="file"]{
	width:240px;
}

.twitter{
	height:30px;
	position:absolute;
	top:200px;
	left:150px;

}
.avatar{
	position:absolute;
	top:150px;
	left:50px;	
}
.konami{
	position:absolute;
	z-index:100;
	top:100px;
	left:-300px;
}