<div class="field">
    <%= f.datetime_select(:date, :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}, :order => [:day, :month, :year], :start_year =>     Date.today.year, :end_year => Date.today.year + 2, :minute_step => 	15, :datetime_separator => '', :time_separator => '') %>
</div>